a { color:#000000; } 
a:visited { color:#AB8928; } 
a:active { color:#261F09; } 
a:hover { color:#342A0C; } 
html, body { min-height: 100% } 
		a.wsp64df250d{ color:#A01FCB; text-decoration: underline} 
		a.wsp64df250d:visited{ color:#800080; text-decoration: underline} 
		a.wsp64df250d:active{ color:#8018CB; text-decoration: underline} 
		a.wsp64df250d:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp1e7eaca0{ color:#A01FCB; text-decoration: underline} 
		a.wsp1e7eaca0:visited{ color:#800080; text-decoration: underline} 
		a.wsp1e7eaca0:active{ color:#8018CB; text-decoration: underline} 
		a.wsp1e7eaca0:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp13174ce0{ color:#AB8928; text-decoration: none} 
		a.wsp13174ce0:visited{ color:#AB8928; text-decoration: none} 
		a.wsp13174ce0:active{ color:#AB8928; text-decoration: none} 
		a.wsp13174ce0:hover{ color:#AB8928; text-decoration: none} 
#menu_2a2b669d a { text-decoration: none; }
#menu_2a2b669d_pane { background-color: #AB8928; border: 1px solid #000000; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_2a2b669d_hr { background-color: #000000; height: 1px; border: none; }
#menu_2a2b669d_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_2a2b669d_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_2a2b669d_entry:hover span { color:#FFFFFF !important; }
		.menu_2a2b669d_mainMenuEntry { text-align: center; }
		.menu_2a2b669d_mainMenuEntry:hover {	background-color:#504013; }
		.menu_2a2b669d_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_2a2b669d .mobileEntry { display: none; } 
		#menu_2a2b669d .normalEntry { display: block; } 
		@media only screen and (max-width:370px) { 
			#menu_2a2b669d .mobileEntry { display: block; } 
			#menu_2a2b669d .normalEntry { display: none; } 
		}
body { background-color:#8F8F8F; background: linear-gradient(to bottom, #F8F8F8, #8F8F8F); background-repeat: no-repeat; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_235220ac { vertical-align: top; position:relative; display: inline-block; width:55%; min-height:11837px; max-width:1200px; background-color:#FFFFFF;  }
#container_235220ac_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_5a9bf4ec { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:38px; background-color:#FFFFFF;  }
#container_5a9bf4ec_padding { margin: 10px; display: block;  }
#img_1e3c8a4d { vertical-align: bottom; position:relative; display: inline-block; margin:0px 10px 0px 0px;width:5%; background:none;  }
.textstyle3 { font-size:28pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#AB8928; font-weight:bold; text-shadow: 4px 4px 4px #A1A1A1;  }
#menu_2a2b669d { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:55px; text-align:left; background-color:#AB8928;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:85px; height:55px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.style3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle5 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.style4 { position:absolute; width:85px; height:55px; left:95px;  }
.style5 { position:absolute; width:85px; height:55px; left:180px;  }
.textstyle6 { font-size:14pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.textstyle8 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_4f5762b3 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:100%; min-height:450px; background-color:#FFFFFF;  }
#container_4f5762b3_padding { margin: 20px 10px 10px 10px;display: block;  }
.textstyle9 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000;  }
#img_79edf946 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
.textstyle10 { font-size:13pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_2d72150 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:100%; min-height:450px; background-color:#FFFFFF;  }
#container_2d72150_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_2f16d763 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_3c6b7324 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:100%; min-height:450px; background-color:#FFFFFF;  }
#container_3c6b7324_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_367d5396 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_7abb8c1c { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:100%; min-height:450px; background-color:#FFFFFF;  }
#container_7abb8c1c_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_4e054251 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
.textstyle11 { font-size:15pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_61fd2c30 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:100%; min-height:450px; background-color:#FFFFFF;  }
#container_61fd2c30_padding { margin: 20px 10px 10px 10px;display: block;  }
.textstyle12 { font-size:12pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000;  }
.textstyle13 { font-size:13pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000; font-weight:bold;  }
#img_1919b8d0 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_aebbeb4 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:100%; min-height:450px; background-color:#FFFFFF;  }
#container_aebbeb4_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_70625447 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#button_796c434d { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:20px; height:40px; background:none; border: 2px solid #FFFFFF;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
#button_d4c54e5 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:38px; height:40px; background-color:#AB8928; border: 1px solid #000000;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#button_4d4a6266 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:20px; height:40px; background:none; border: 2px solid #FFFFFF;  }
#button_13fe185b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:38px; height:40px; background:none; border: 1px solid #000000;  }
#button_6016ed2d { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:20px; height:40px; background:none; border: 2px solid #FFFFFF;  }
#button_3cafe49f { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:38px; height:40px; background:none; border: 1px solid #000000;  }
#button_7d42c6f1 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:20px; height:40px; background:none; border: 2px solid #FFFFFF;  }
.textstyle15 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 800px)
{
		#img_1e3c8a4d { width:6%;  }
}
@media only screen and (max-width: 700px)
{
		#img_1e3c8a4d { width:7%;  }
}
@media only screen and (max-width: 640px)
{
		#container_235220ac { width:100%;  }
		#container_5a9bf4ec * span { font-size:24pt;  }
}
@media only screen and (max-width: 550px)
{
		#img_1e3c8a4d { width:8%;  }
}
@media only screen and (max-width: 450px)
{
		#container_4f5762b3 { width:99%;  }
		#container_2d72150 { width:99%;  }
		#container_3c6b7324 { width:99%;  }
		#container_7abb8c1c { width:99%;  }
		#container_61fd2c30 { width:99%;  }
		#container_aebbeb4 { width:99%;  }
}
@media only screen and (max-width: 435px)
{
		#container_5a9bf4ec * span { font-size:19pt;  }
}
@media only screen and (max-width: 370px)
{
		#container_5a9bf4ec * span { font-size:12pt;  }
}
