a { color:#AB8928; } 
a:visited { color:#AB8928; } 
a:active { color:#261F09; } 
a:hover { color:#342A0C; } 
html, body { min-height: 100% } 
		a.wsp64df250d{ color:#A01FCB; text-decoration: underline} 
		a.wsp64df250d:visited{ color:#800080; text-decoration: underline} 
		a.wsp64df250d:active{ color:#8018CB; text-decoration: underline} 
		a.wsp64df250d:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp1e7eaca0{ color:#A01FCB; text-decoration: underline} 
		a.wsp1e7eaca0:visited{ color:#800080; text-decoration: underline} 
		a.wsp1e7eaca0:active{ color:#8018CB; text-decoration: underline} 
		a.wsp1e7eaca0:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp13174ce0{ color:#AB8928; text-decoration: none} 
		a.wsp13174ce0:visited{ color:#AB8928; text-decoration: none} 
		a.wsp13174ce0:active{ color:#AB8928; text-decoration: none} 
		a.wsp13174ce0:hover{ color:#AB8928; text-decoration: none} 
#menu_6b9b33b7 a { text-decoration: none; }
#menu_6b9b33b7_pane { background-color: #AB8928; border: 1px solid #000000; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_6b9b33b7_hr { background-color: #000000; height: 1px; border: none; }
#menu_6b9b33b7_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_6b9b33b7_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_6b9b33b7_entry:hover span { color:#FFFFFF !important; }
		.menu_6b9b33b7_mainMenuEntry { text-align: center; }
		.menu_6b9b33b7_mainMenuEntry:hover {	background-color:#504013; }
		.menu_6b9b33b7_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_6b9b33b7 .mobileEntry { display: none; } 
		#menu_6b9b33b7 .normalEntry { display: block; } 
		@media only screen and (max-width:370px) { 
			#menu_6b9b33b7 .mobileEntry { display: block; } 
			#menu_6b9b33b7 .normalEntry { display: none; } 
		}
body { background-color:#8F8F8F; background: linear-gradient(to bottom, #F8F8F8, #8F8F8F); background-repeat: no-repeat; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_50063826 { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:10341px; max-width:1200px; background-color:#FFFFFF;  }
#container_50063826_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_1cf5a098 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:38px; background-color:#FFFFFF;  }
#container_1cf5a098_padding { margin: 10px; display: block;  }
#img_335ddb26 { vertical-align: bottom; position:relative; display: inline-block; margin:0px 10px 0px 0px;width:5%; background:none;  }
.textstyle3 { font-size:28pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#AB8928; font-weight:bold; text-shadow: 4px 4px 4px #A1A1A1;  }
#menu_6b9b33b7 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:55px; text-align:left; background-color:#AB8928;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:85px; height:55px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.style3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle5 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.style4 { position:absolute; width:85px; height:55px; left:95px;  }
.style5 { position:absolute; width:85px; height:55px; left:180px;  }
.textstyle6 { font-size:14pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
#container_66cd5795 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_66cd5795_padding { margin: 20px 10px 10px 10px;display: block;  }
.textstyle8 { font-size:15pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle9 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000;  }
#img_3290ac7d { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
.textstyle10 { font-size:13pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_857e2fa { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:510px; background:none;  }
#container_857e2fa_padding { margin: 20px 10px 10px 10px;display: block;  }
#container_31e4b5c4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:27px; background-color:#AB8928;  }
#container_31e4b5c4_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:15pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_75c3ed2c { vertical-align: top; position:relative; display: inline-block; margin:0px 0px 15px 0px;width:100%; min-height:27px; background:none;  }
#container_75c3ed2c_padding { margin: 10px; display: block;  }
#container_816b879 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:27px; background-color:#AB8928;  }
#container_816b879_padding { margin: 10px; display: block;  }
#container_764712eb { vertical-align: top; position:relative; display: inline-block; margin:0px 0px 15px 0px;width:100%; min-height:27px; background:none;  }
#container_764712eb_padding { margin: 10px; display: block;  }
#img_19f9eed5 { vertical-align: bottom; position:relative; display: inline-block; margin:10px 0px 10px 0px;width:50%; background:none;  }
.textstyle12 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle13 { text-align:justify; }
#container_771b508c { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_771b508c_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_7c072c54 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
.textstyle14 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_42f17b85 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_42f17b85_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_28ff7d3f { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_68e92e0e { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_68e92e0e_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_6f77fafd { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_4ec49aa0 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_4ec49aa0_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_14ff35a0 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_7f6bb278 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_7f6bb278_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_5cc1004a { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_150b4cb4 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_150b4cb4_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_1dd6bba4 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_1bb68718 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_1bb68718_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_1ac0d355 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_2d38e4cb { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_2d38e4cb_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_7a84329d { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_4fc95f32 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_4fc95f32_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_6d829849 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_641d7ae6 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_641d7ae6_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_52eb0cf7 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_5a581774 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_5a581774_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_bee57fb { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_3fb3c115 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_3fb3c115_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_3737cbec { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_61536c40 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_61536c40_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_538dff12 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_2ee487f1 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_2ee487f1_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_36a7b1e7 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_4dc8e229 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_4dc8e229_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_5ee6badb { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_e76ac96 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_e76ac96_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_6474b1fa { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_76da4df1 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_76da4df1_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_68af9d49 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_7592c751 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_7592c751_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_39f9b600 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_48acd956 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_48acd956_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_20993f6b { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_52750f63 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_52750f63_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_3e93034d { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_4f43844a { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:450px; background-color:#FFFFFF;  }
#container_4f43844a_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_2bfe56b1 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#button_44938d2b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:20px; height:40px; background:none; border: 2px solid #FFFFFF;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
#button_6e15eae4 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:38px; height:40px; background:none; border: 1px solid #000000;  }
.textstyle15 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#button_24a7e9a6 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:20px; height:40px; background:none; border: 2px solid #FFFFFF;  }
#button_126b6c95 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:38px; height:40px; background:none; border: 1px solid #000000;  }
#button_48aa13b1 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:20px; height:40px; background:none; border: 2px solid #FFFFFF;  }
#button_3a99c710 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:38px; height:40px; background-color:#AB8928; border: 1px solid #000000;  }
#button_5d44671f { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:20px; height:40px; background:none; border: 2px solid #FFFFFF;  }
@media only screen and (max-width: 800px)
{
		#img_335ddb26 { width:6%;  }
}
@media only screen and (max-width: 700px)
{
		#img_335ddb26 { width:7%;  }
}
@media only screen and (max-width: 640px)
{
		#container_50063826 { width:100%;  }
		#container_1cf5a098 * span { font-size:24pt;  }
		#container_31e4b5c4 * span { font-size:12pt;  }
		#container_75c3ed2c * span { font-size:11pt;  }
		#container_816b879 * span { font-size:12pt;  }
		#container_764712eb * span { font-size:11pt;  }
}
@media only screen and (max-width: 550px)
{
		#img_335ddb26 { width:8%;  }
}
@media only screen and (max-width: 450px)
{
		#container_66cd5795 { width:99%;  }
		#container_857e2fa { width:99%;  }
		#container_771b508c { width:99%;  }
		#container_42f17b85 { width:99%;  }
		#container_68e92e0e { width:99%;  }
		#container_4ec49aa0 { width:99%;  }
		#container_7f6bb278 { width:99%;  }
		#container_150b4cb4 { width:99%;  }
		#container_1bb68718 { width:99%;  }
		#container_2d38e4cb { width:99%;  }
		#container_4fc95f32 { width:99%;  }
		#container_641d7ae6 { width:99%;  }
		#container_5a581774 { width:99%;  }
		#container_3fb3c115 { width:99%;  }
		#container_61536c40 { width:99%;  }
		#container_2ee487f1 { width:99%;  }
		#container_4dc8e229 { width:99%;  }
		#container_e76ac96 { width:99%;  }
		#container_76da4df1 { width:99%;  }
		#container_7592c751 { width:99%;  }
		#container_48acd956 { width:99%;  }
		#container_52750f63 { width:99%;  }
		#container_4f43844a { width:99%;  }
}
@media only screen and (max-width: 435px)
{
		#container_1cf5a098 * span { font-size:19pt;  }
}
@media only screen and (max-width: 370px)
{
		#container_1cf5a098 * span { font-size:12pt;  }
}
