a { color:#AB8928; } 
a:visited { color:#AB8928; } 
a:active { color:#261F09; } 
a:hover { color:#342A0C; } 
html, body { min-height: 100% } 
		a.wsp64df250d{ color:#A01FCB; text-decoration: underline} 
		a.wsp64df250d:visited{ color:#800080; text-decoration: underline} 
		a.wsp64df250d:active{ color:#8018CB; text-decoration: underline} 
		a.wsp64df250d:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp1e7eaca0{ color:#A01FCB; text-decoration: underline} 
		a.wsp1e7eaca0:visited{ color:#800080; text-decoration: underline} 
		a.wsp1e7eaca0:active{ color:#8018CB; text-decoration: underline} 
		a.wsp1e7eaca0:hover{ color:#E3B4F3; text-decoration: underline} 
		a.wsp13174ce0{ color:#AB8928; text-decoration: none} 
		a.wsp13174ce0:visited{ color:#AB8928; text-decoration: none} 
		a.wsp13174ce0:active{ color:#AB8928; text-decoration: none} 
		a.wsp13174ce0:hover{ color:#AB8928; text-decoration: none} 
#menu_46d16b a { text-decoration: none; }
#menu_46d16b_pane { background-color: #AB8928; border: 1px solid #000000; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_46d16b_hr { background-color: #000000; height: 1px; border: none; }
#menu_46d16b_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_46d16b_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_46d16b_entry:hover span { color:#FFFFFF !important; }
		.menu_46d16b_mainMenuEntry { text-align: center; }
		.menu_46d16b_mainMenuEntry:hover {	background-color:#504013; }
		.menu_46d16b_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_46d16b .mobileEntry { display: none; } 
		#menu_46d16b .normalEntry { display: block; } 
		@media only screen and (max-width:370px) { 
			#menu_46d16b .mobileEntry { display: block; } 
			#menu_46d16b .normalEntry { display: none; } 
		}
body { background-color:#8F8F8F; background: linear-gradient(to bottom, #F8F8F8, #8F8F8F); background-repeat: no-repeat; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_41e58864 { vertical-align: top; position:relative; display: inline-block; width:55%; min-height:11837px; max-width:1200px; background-color:#FFFFFF;  }
#container_41e58864_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_4c93732e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:38px; background-color:#FFFFFF;  }
#container_4c93732e_padding { margin: 10px; display: block;  }
#img_7dfca937 { vertical-align: bottom; position:relative; display: inline-block; margin:0px 10px 0px 0px;width:5%; background:none;  }
.textstyle3 { font-size:28pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#AB8928; font-weight:bold; text-shadow: 4px 4px 4px #A1A1A1;  }
#menu_46d16b { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:55px; text-align:left; background-color:#AB8928;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:85px; height:55px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.style3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle5 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.style4 { position:absolute; width:85px; height:55px; left:95px;  }
.style5 { position:absolute; width:85px; height:55px; left:180px;  }
.textstyle6 { font-size:14pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.textstyle8 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_3b7503c4 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:100%; min-height:450px; background-color:#FFFFFF;  }
#container_3b7503c4_padding { margin: 20px 10px 10px 10px;display: block;  }
.textstyle9 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000;  }
#img_b53fb0b { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
.textstyle10 { font-size:13pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_217f40b3 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:100%; min-height:450px; background-color:#FFFFFF;  }
#container_217f40b3_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_67580ade { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_6bdbc14d { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:100%; min-height:450px; background-color:#FFFFFF;  }
#container_6bdbc14d_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_66f53244 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_3a05ea72 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:100%; min-height:450px; background-color:#FFFFFF;  }
#container_3a05ea72_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_5ca8ebc2 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_75164be8 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:100%; min-height:450px; background-color:#FFFFFF;  }
#container_75164be8_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_435f310d { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_4078555f { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:100%; min-height:450px; background-color:#FFFFFF;  }
#container_4078555f_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_1f9b8a4b { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_33ccfd27 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:100%; min-height:450px; background-color:#FFFFFF;  }
#container_33ccfd27_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_55674728 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_6c8a3dbe { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:100%; min-height:450px; background-color:#FFFFFF;  }
#container_6c8a3dbe_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_14af7a0a { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_2c0dbea0 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:100%; min-height:450px; background-color:#FFFFFF;  }
#container_2c0dbea0_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_121cac33 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#container_53120e5a { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:100%; min-height:450px; background-color:#FFFFFF;  }
#container_53120e5a_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_271f2cf6 { vertical-align: bottom; position:relative; display: inline-block; margin:15px 15px 15px 0px;width:100%; background:none;  }
#button_358c6301 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:20px; height:40px; background:none; border: 2px solid #FFFFFF;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
#button_11a91541 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:38px; height:40px; background-color:#AB8928; border: 1px solid #000000;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#button_36bbb0d2 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:20px; height:40px; background:none; border: 2px solid #FFFFFF;  }
#button_7fd2769 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:38px; height:40px; background:none; border: 1px solid #000000;  }
#button_50eb3f83 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:20px; height:40px; background:none; border: 2px solid #FFFFFF;  }
#button_16f68ab6 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:38px; height:40px; background:none; border: 1px solid #000000;  }
#button_5effb546 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:20px; height:40px; background:none; border: 2px solid #FFFFFF;  }
.textstyle12 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 800px)
{
		#img_7dfca937 { width:6%;  }
}
@media only screen and (max-width: 700px)
{
		#img_7dfca937 { width:7%;  }
}
@media only screen and (max-width: 640px)
{
		#container_41e58864 { width:100%;  }
		#container_4c93732e * span { font-size:24pt;  }
}
@media only screen and (max-width: 550px)
{
		#img_7dfca937 { width:8%;  }
}
@media only screen and (max-width: 450px)
{
		#container_3b7503c4 { width:99%;  }
		#container_217f40b3 { width:99%;  }
		#container_6bdbc14d { width:99%;  }
		#container_3a05ea72 { width:99%;  }
		#container_75164be8 { width:99%;  }
		#container_4078555f { width:99%;  }
		#container_33ccfd27 { width:99%;  }
		#container_6c8a3dbe { width:99%;  }
		#container_2c0dbea0 { width:99%;  }
		#container_53120e5a { width:99%;  }
}
@media only screen and (max-width: 435px)
{
		#container_4c93732e * span { font-size:19pt;  }
}
@media only screen and (max-width: 370px)
{
		#container_4c93732e * span { font-size:12pt;  }
}
